<div class="login-container">
  <div class="login-header">
    <h2>Login Here</h2>
  </div>

  <div class="login-details">
    <form action="">
      <label for="useremail">Email Address</label>
      <input type="email" name="email" id="useremail" />

      <label for="userpassword">Password</label>
      <input type="password" name="password" id="userpassword" />

      <button type="submit">Login</button>

      <div class="signup">
        <span>Do not have an accont yet? <a href="">Register Here</a></span>
      </div>
    </form>
  </div>
</div>
