<div class="login-container">
  <app-snackbar
    [errorMessage]="errorMessage"
    *ngIf="errorMessage"
  ></app-snackbar>
  <div class="login-header">
    <h2>{{ isLoginMode ? "Login" : "Sign up " }}</h2>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="login-details">
    <form
      (ngSubmit)="formSubmitted(authForm)"
      #authForm="ngForm"
      *ngIf="!isLoading"
    >
      <label for="useremail">Email Address</label>
      <input
        type="email"
        name="useremail"
        id="useremail"
        ngModel
        required
        email
      />

      <label for="userpassword">Password</label>
      <input
        type="password"
        name="userpassword"
        id="userpassword"
        ngModel
        required
        minlength="8"
      />

      <button type="submit" [disabled]="authForm.invalid">
        {{ isLoginMode ? "Login" : "Register" }}
      </button>

      <div class="signup">
        <span>
          {{
            isLoginMode
              ? "Do not have an accont yet?"
              : "Already have an account ?"
          }}

          <button type="button" (click)="onSwitchMode()">
            {{ isLoginMode ? "Register here" : "Login here" }}
          </button></span
        >
      </div>
    </form>
  </div>
</div>
