<div class="login-container">
  <div class="login-header">
    <h2>{{ isLoginMode ? "Login" : "Sign up " }}</h2>
  </div>

  <div class="login-details">
    <form action="">
      <label for="useremail">Email Address</label>
      <input type="email" name="email" id="useremail" />

      <label for="userpassword">Password</label>
      <input type="password" name="password" id="userpassword" />

      <button type="submit">{{ isLoginMode ? "Login" : "Register" }}</button>

      <div class="signup">
        <span>
          {{
            isLoginMode
              ? "Do not have an accont yet?"
              : "Already have an account ?"
          }}

          <button type="button" (click)="onSwitchMode()">
            {{ isLoginMode ? "Register here" : "Login here" }}
          </button></span
        >
      </div>
    </form>
  </div>
</div>
