.login-container {
  position: relative;
  width: 450px;
  margin: 70px 650px;
  border: none;
  border-radius: 8px;
  padding: 25px;
  height: 350px;
  box-shadow: 1px 1px 20px 5px rgb(181, 215, 212);
}
.login-header {
  font-size: 20px;
}
input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: rgb(209, 233, 253);
  border-radius: 5px;
  font-size: 18px;
  padding: 15px;
}
button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 20px;
}
.signup {
  margin-top: 20px;
}
.signup button {
  padding-right: 25px;
  display: inline;
  background-color: white;
  width: 150px;
  height: 20px;
  color: blue;
  border: none;
  font-size: 18px;
}
a {
  text-decoration: none;
}
