<div class="home-container">
  <div class="home-header">
    <h2>Home Page</h2>
  </div>
  <hr />

  <div class="home-body">
    <p class="home-para">
      Every copy of macOS comes with Activity Monitor pre-installed. Like the
      Task Manager on a Windows PC, Activity Monitor lets you see everything
      that’s running on your Mac, including apps that you can see and interact
      with, as well as background services that are normally hidden. Many of
      these processes are part of macOS itself, but you’ll also find background
      processes for other apps, including your web browser, antivirus, and
      things like VPN clients.
    </p>
    <p class="home-para">
      In this guide, we’ll show you how to open Activity Monitor on Mac before
      looking at some of the ways you can use it:
    </p>
    <div class="list">
      <ul>
        <li>Quit</li>
        <li>apps</li>
        <li>Inspect</li>
        <li>processes</li>
        <li>Run</li>
        <li>diagnostic</li>
        <li>reports</li>
        <li>Identify</li>
        <li>malware</li>
        <li>Save</li>
      </ul>
    </div>
  </div>
</div>
